Ball_Base/Debug/*
Ball_Remote/Debug/*
Hardware/Ball_Base_Components-backups/*
Hardware/Ball_Remote_Components-backups
Hardware/Ball_Base_Panel-backups/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Hardware/#auto_saved_files#
Hardware/_autosave-Ball_Base_Components.kicad_sch
remote_hardware/_autosave-Ball_Remote_Components.kicad_pcb

